API_ID=14837825 
API_HASH=0ed849f5e7ab2df61d969317de2ca64c 
BOT_TOKEN=6062544343:AAHV6IWQNAg3_aeaK7JAEta9DcvUCR-Gcig
MONGO_DB_URI=mongodb+srv://Cloner:Cloner@cluster0.cgc6t.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-975612000
MUSIC_BOT_NAME=Stetchfy 
STRING_SESSION=BADQj9UAiL44QX_fU9eu_JekMDeGWz-MBAqg_V39Dzhv0c_PZ5PwNszF_MQwvtZ9RLj7jjEQQKDT-vvKYdmsUUn3P4u2yvC7AM6tk65ocITS21lZBOkp_6sN_BlaKy1SaOY4-eIleGtMUvn5F1S1U5v74BdnbDIMSMgmKDPRrbHYj3ZUUtQFiQAEPNKHlH7AdsT4JXMoCMRxWXFO2vATtkaDZQlOvXbdo_g0CL1Sc_JSIIu4YuYQ7I0KkCcBImr-Fml29q2er7SKPFEYkA2TXUNH0bUWRP47IzCryos6j-Y4YqwSxtwGnm6PSiF32PFDZkLWKf9ytJgzj2leUuJk0E6_FgqWKQAAAABoE8_OAA
OWNER_ID=1404114574